# Assignment 1
#Sharjeel Ahmed Khan
#Session = 4 to 6

In [20]:
# Q:1
poem = """Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are"""

print(poem)

Twinkle, twinkle, little star,
    How I wonder what you are!
        Up above the world so high,
        Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are

In [33]:
#Q:2
import sys

def print_python_version():
    print("Python version")
    print(sys.version)
  

print_python_version()

Python version
3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [34]:
#Q:3
import datetime

now = datetime.datetime.now()

print("Current date and time : ")

print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2024-08-01 21:43:41

In [36]:
#Q:4
import math

radius = float(input("Enter the radius of the circle: "))

area = math.pi * (radius ** 2)

print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 45
The area of the circle with radius 45.0 is: 6361.73

# Reverse Name

In [ ]:
var = Reverse_name
Reverse_name = "Hello My Name is Sharjeel Ahmed Khan"[::-1]
print(var)

# Using input Reverse Name

In [21]:
#Q:5
First_Name = input("Please Enter Your First Name: ")
Last_Name = input("Please Enter Your Last Name: ")
print((First_Name[::-1] , Last_Name [::-1]))

Please Enter Your First Name: Sharjeel
Please Enter Your Last Name: Ahmed Khan
('leejrahS', 'nahK demhA')

In [23]:
# Q:6
Num1 = input("Enter Number: ")
Num2 = input("Enter Number: ")
Sum = int(Num1) + int(Num2)
print(Sum)

Enter Number: 3
Enter Number: 3
6

In [32]:
#Q:7
Subject1 = int(input("Enter marks for Maths: "))
Subject2 = int(input("Enter marks for English: "))
Subject3 = int(input("Enter marks for Urdu: "))
Subject4 = int(input("Enter marks for Chemistry: "))
Subject5 = int(input("Enter marks for Physics: "))

Total = Subject1 + Subject2 + Subject3 + Subject4 + Subject5
Percentage = Total / 5

def Student_Grade(marks):
    if marks >= 80:
        return 'A'
    elif marks >= 70:
        return 'B'
    elif marks >= 60:
        return 'C'
    elif marks > 50:
        return 'D'
    else:
        return 'Fail'


overall_grade = Student_Grade(Percentage)

print(f'Maths: {Subject1} ({Student_Grade(Subject1)})')
print(f'English: {Subject2} ({Student_Grade(Subject2)})')
print(f'Urdu: {Subject3} ({Student_Grade(Subject3)})')
print(f'Chemistry: {Subject4} ({Student_Grade(Subject4)})')
print(f'Physics: {Subject5} ({Student_Grade(Subject5)})')
print("\nTotal Marks:", Total)
print("Percentage:", Percentage)
print("Overall Grade:", overall_grade)

Enter marks for Maths: 67
Enter marks for English: 67
Enter marks for Urdu: 67
Enter marks for Chemistry: 67
Enter marks for Physics: 67
Maths: 67 (C)
English: 67 (C)
Urdu: 67 (C)
Chemistry: 67 (C)
Physics: 67 (C)

Total Marks: 335
Percentage: 67.0
Overall Grade: C

In [ ]:
# Q:8
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

In [6]:
# Q:9
list1 = [3,6,8,9,0,3]
print(len(list1))

6

In [9]:
# Q:10
list1 = [3,6,8,9,0,3]
print(sum(list1))

29

In [10]:
# Q:11
list1 = [3,6,8,9,0,3]
print(max(list1))

9

In [18]:
# Q:12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for number in a:
    if number < 5:
        print(number)

1
1
2
3