# Type_Casting

In [1]:
print('Hello World')

Hello World

In [2]:
print("Shar")

Shar

In [3]:
print(type("Hello WOrld"))

<class 'str'>

In [4]:
a = 5
print(a)

5

In [5]:
a = '123'
print(a)
type(a)
a = int("123")
print(type(a))

123
<class 'int'>

In [6]:
var  = a
a = '123'
print(a)

123

In [7]:
type(a)

str

In [8]:
a = int("123")
print(a)

123

In [9]:
type(a)

int

In [10]:
a = '123'
print(type(a))
a = int(a)
print(a)
type(a)

<class 'str'>
123

int

In [11]:
a = '123'
print(a)

123

In [12]:
a = int(a)
print(type(a))

<class 'int'>

In [13]:
b = '1234567'
print(b)
type(b)

1234567

str

In [14]:
b = float('1234567')
type(b)

float

In [15]:
print(b)

1234567.0

# List

In [16]:
salary = ["Mubashir","Raqib","Sharjeel","Ali","Faraz"]
print(salary)

['Mubashir', 'Raqib', 'Sharjeel', 'Ali', 'Faraz']

# Indexing

In [17]:
print(salary[1])

Raqib

In [18]:
print(salary[3])

Ali

# Slicing

In [19]:
print(salary[1:2])

['Raqib']

In [20]:
print(salary[2:5])

['Sharjeel', 'Ali', 'Faraz']

In [21]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
print("Faraz Bhaii")

Faraz Bhaii

In [ ]:
class Name:
    def Input_Name(self):
        self.id = str(input("Please Enter Your Id: "))
        self.name = str(input("Please Enter Your Name: "))
        self.salary = float(input("Please Enter Your Salary"))
    def display(self):
        print('Name.id',self.id)
        print('Name.name',self.name)
        print('Name.salary',self.salary)
    def reverse_Name(self):
        reverse_name = f"{self.id} {self.name} {self.salary}"
        print('reverse_Name',self.reverse_Name)
        
x = Name()
x.Input_Name()
x.reverse_Name()
x.display()

In [ ]:
print("Hello World")

In [ ]:
Reverse_Method = "Hello MY Name is Sharjeel Ahmed Khan"[::-1]
print(Reverse_Method)

In [ ]:
var1 = input("First_Name: ")
var2 = input("Second_Name: ")
print(var1[::-1] ,var2[::-1])

In [ ]:
user_a = input("Enter Number")
user_b = input("Enter Number")
sum  = int(user_a) + int(user_b)
print(sum)

In [ ]:
var1 = input("Enter First Number: ")
var2 = input("Enter Second Number: ")
sum  = float(var1) * float(var2)
print(sum)

In [ ]:
var1 = input("Enter First Number: ")
var2 = input("Enter Second Number: ")
sum = int(var1) / int(var2)
print(sum)

In [2]:
# Q:8
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(f"{number} is even.")
else:
    print(f"{number} is odd.")

Enter a number: 4
4 is even.

In [4]:
number = int(input("Enter a Number: "))
if number % 2 == 0:
    print(f"{number} is even")
else:
    print((f"{number} is odd"))

Enter a Number: 4
4 is even

In [6]:
number = int(input("Enter the Number: "))
if number % 2 == 0:
    print(f"{number} is Even")
else:
    print(f"{number} is Odd")

Enter the Number: 3
3 is Odd

In [7]:
list1 = [2,5,6,7,8,8]
print(len(list1))

6

In [8]:
list1 = [2,5,6,7,8,8]
print(sum(list1))

36

In [9]:
list1 = [2,5,6,7,8,8]
print(max(list1))

8

In [10]:
list1 = [2,5,6,7,8,8]
print(min(list1))

2

In [18]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for number in a:
    if number <= 5:
        print(number)

1
1
2
3
5

In [20]:
import sys 
print('python version')
print(sys.version)

python version
3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [21]:
import sys 
print('Print Version')
print(sys.version)

Print Version
3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [22]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

In [4]:
Subject1 = int(input("Enter Maths Marks: "))
Subject2 = int(input("Enter English Marks: "))
Subject3 = int(input("Enter Urdu Marks: "))
Subject4 = int(input("Enter Chemistry Marks: "))
Subject5 = int(input("Enter Physics Marks: "))

Total = Subject1 + Subject2 + Subject3 + Subject4 + Subject5
percentage = Total / 5


def Student_Grade(marks):
    if marks >= 80:
        return 'A'
    elif marks >= 70:
        return 'B'
    elif marks >= 60:
        return 'C'
    elif marks >= 50:
        return 'D'
    else:
        return 'F'

overall_Grades = Student_Grade(percentage)


print('...........//////////////..............')
print('Student Mark Sheet')
print(f'Maths: {Subject1} ({Student_Grade(Subject1)})')
print(f'English: {Subject2} ({Student_Grade(Subject2)})')
print(f'Urdu: {Subject3} ({Student_Grade(Subject3)})')
print(f'Chemistry {Subject4} ({Student_Grade(Subject4)})')
print(f'Physics {Subject5} ({Student_Grade(Subject5)})')
print('\nTotal_Marks',Total)
print(f'Percentage',percentage)
print(f'Overall Grades',overall_Grades)

Enter Maths Marks: 90
Enter English Marks: 90
Enter Urdu Marks: 90
Enter Chemistry Marks: 90
Enter Physics Marks: 90
...........//////////////..............
Student Mark Sheet
Maths: 90 (A)
English: 90 (A)
Urdu: 90 (A)
Chemistry 90 (A)
Physics 90 (A)

Total_Marks 450
Percentage 90.0
Overall Grades A

In [5]:
# Sorted Function
salaries = ['30k','40k','34k','65k','43k','34k']
x = sorted(salaries)
print(x)

['30k', '34k', '34k', '40k', '43k', '65k']

In [2]:
# Sorted Function
a = (1, 11, 2)
x = sorted(a)
print(x)

[1, 2, 11]

In [7]:
# Count Function
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

In [8]:
print(fruits)

['apple', 'banana', 'cherry']

In [1]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

In [14]:
# Count Method
salaries = ['30k', '40k', '34k', '65k', '43k', '34k']
value_to_count = '34k'
x = salaries.count(value_to_count)
print(x)  # Output: 2

2

In [2]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [3]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [4]:
# Copy List list ko copy krne k lie use hota h 
original_list = [1, 2, 3, 4]
copied_list = original_list.copy()
print(copied_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [6]:
a = [3,4,6,7,9]
b = a.copy()
print(b)

[3, 4, 6, 7, 9]

In [7]:
print(a)

[3, 4, 6, 7, 9]

In [8]:
print(b)

[3, 4, 6, 7, 9]

In [10]:
#Clear Method
fruits = ["apple", "banana", "cherry"]

print(fruits)

['apple', 'banana', 'cherry']

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()

In [12]:
print(fruits)

[]

In [4]:
# Sort Method
salary = [2,4,7,8,9,1,5]
print(salary)

[2, 4, 7, 8, 9, 1, 5]

In [5]:
x = salary.sort()
print(x)

None

In [6]:
print(salary)

[1, 2, 4, 5, 7, 8, 9]

In [7]:
# Count Function
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

In [8]:
print(x)

2

In [10]:
name = ['abc','nvc','abc','jhg']
y = name.count('abc')
print(y)

2

In [11]:
# Copy Method
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [12]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [13]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

In [14]:
print(fruits)

[]

# Session 7

In [1]:
salaries = ["20k","30k","56k",'100k','300k','89k']
salaries

['20k', '30k', '56k', '100k', '300k', '89k']

In [3]:
update_salaries = ["36k","38k",'78k',"23k"]
update_salaries

['36k', '38k', '78k', '23k']

In [4]:
nested_list = ["35k","600k",salaries,"56k",update_salaries]
nested_list

['35k',
 '600k',
 ['20k', '30k', '56k', '100k', '300k', '89k'],
 '56k',
 ['36k', '38k', '78k', '23k']]

In [5]:
nested_list[2]

['20k', '30k', '56k', '100k', '300k', '89k']

In [6]:
nested_list[2][3]

'100k'

In [7]:
nested_list[-1][1:4]

['38k', '78k', '23k']

In [10]:
nested_list[-1][1:4]

['38k', '78k', '23k']

In [11]:
item = 5
item = 5 + 3
print(item)

8

In [12]:
item = item + 5
print(item)

13

In [13]:
item  -= 5
print(item)

8

In [14]:
item *=3
print(item)

24

In [15]:
spices = 'cat'
if spices != 'dog':
    print("This is a Cat")
    
    print("This is dog")

This is a Cat
This is dog

In [19]:
species = 'All Mammals are Species'
if species != 'But Dog are not Species':
    print('True')
    
else:
    print("False")

True

In [25]:
Gender = "Male"
Age = '20'
City = 'Karachi'
if Gender == 'Male' or Age == '20' or City == 'Karachi':
    print("Yes You Are Eligible")
else:
    print("No You Are Not Eligible")

Yes You Are Eligible

In [48]:
Gender = "Male"
Age = 34
City = "Karachi"
if (Gender == 'Male' and (Age < 20 and Age > 30)) or City == 'Karachi':
    print("Yes You are Eligible ")
else:
    print("You Are not Eligible")

Yes You are Eligible

In [34]:
Gender = "Male"
Age = 40
City = "Karachi"
if Gender == 'Male' or (20>age<30) or City == 'Karachi':
    print("Yes You are Eligible ")
else:
    print("You Are not Eligible")

Yes You are Eligible

In [44]:
Gender = "Male"
Age = 34
City = "Karachi"
if (Gender == 'Male' and (Age > 20 and Age < 30)) or City == 'Karachi':
    print("Yes You are Eligible")
else:
    print("You Are not Eligible")

Yes You are Eligible

In [45]:
Gender = "Male"
Age = 34
City = "Karachi"
if (Gender == 'Male' and (Age <= 20 or Age >= 30)) or City == 'Karachi':
    print("You Are not Eligible")
else:
    print("Yes You are Eligible")

You Are not Eligible

In [1]:
Guest_List = ['Sharjeel','Mubashir','Raqib']

Invitation = "I am writing to extend a heartfelt invitation to you for a dinner I am hosting. Your pioneering work in computer science and your visionary ideas about computing have always inspired me. It would be an honor to discuss your contributions and insights over a meal."

for guest in Guest_List:
    print(f'Hello {guest},\n{Invitation}\n')

Hello Sharjeel,
I am writing to extend a heartfelt invitation to you for a dinner I am hosting. Your pioneering work in computer science and your visionary ideas about computing have always inspired me. It would be an honor to discuss your contributions and insights over a meal.

Hello Mubashir,
I am writing to extend a heartfelt invitation to you for a dinner I am hosting. Your pioneering work in computer science and your visionary ideas about computing have always inspired me. It would be an honor to discuss your contributions and insights over a meal.

Hello Raqib,
I am writing to extend a heartfelt invitation to you for a dinner I am hosting. Your pioneering work in computer science and your visionary ideas about computing have always inspired me. It would be an honor to discuss your contributions and insights over a meal.

In [6]:
guest_who_cant_make_it = "Mubashir"

print(f"\nUnfortunately, {guest_who_cant_make_it} can't make it to the dinner.\n")

new_guest = "Kashif"

def update_guest_list(guest_list, guest_who_cant_make_it, new_guest):
    # Remove the guest who can't make it
    guest_list.remove(guest_who_cant_make_it)
    # Add the new guest
    guest_list.append(new_guest)
    return guest_list

# Update the guest list
updated_guest_list = update_guest_list(guest_list, guest_who_cant_make_it, new_guest)

# Send out new invitations
send_invitations(updated_guest_list)

Unfortunately, Mubashir can't make it to the dinner.

NameError: name 'guest_list' is not defined

In [3]:
guest_list = ["Mubashir", "Sharjeel", "Raqib", "Lia"]

guest_who_cant_make_it = "Mubashir"

print(f"\nUnfortunately, {guest_who_cant_make_it} can't make it to the dinner.\n")

new_guest = "Kashif"

def update_guest_list(guest_list, guest_who_cant_make_it, new_guest):
    # Remove the guest who can't make it
    guest_list.remove(guest_who_cant_make_it)
    # Add the new guest
    guest_list.append(new_guest)
    return guest_list

# Update the guest list
updated_guest_list = update_guest_list(guest_list, guest_who_cant_make_it, new_guest)

def send_invitations(guest_list):
    for guest in guest_list:
        print(f"Sending invitation to {guest}")

# Send out new invitations
send_invitations(updated_guest_list)

Unfortunately, Mubashir can't make it to the dinner.

Sending invitation to Sharjeel
Sending invitation to Raqib
Sending invitation to Lia
Sending invitation to Kashif

In [1]:


# Python program to find second largest
# number in a list
 
# list of numbers - length of 
# list should be at least 2
list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1]) 
secondmax = min(list1[0], list1[1]) 
n = len(list1)
for i in range(2,n): 
    if list1[i] > mx: 
        secondmax = mx
        mx = list1[i] 
    elif list1[i] > secondmax and \
        mx != list1[i]: 
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",
      str(secondmax))

Second highest number is :  45

In [ ]:
list2 = [23,32,45,65,34]
mx = max(list2[0],list1[1])
n = len(list2)
for i in range(2,n):
    if list2[i] > mx:
        secondmax = mx
        mx = list1[i]
        elif list1[i] > secondmax and
        mx != list2

In [5]:
list1 = []
var = int(input("Enter a Number"))
print(var)

Enter a Number2
2

In [6]:
print(list1)

[]

In [7]:
# Initialize the list
my_list = []

# Read the number of commands
n = int(input("Enter the number of commands: "))

# Process each command
for _ in range(n):
    # Read the command
    command = input().split()
    action = command[0]
    
    if action == "insert":
        index = int(command[1])
        value = int(command[2])
        my_list.insert(index, value)
    elif action == "print":
        print(my_list)
    elif action == "remove":
        value = int(command[1])
        my_list.remove(value)
    elif action == "append":
        value = int(command[1])
        my_list.append(value)
    elif action == "sort":
        my_list.sort()
    elif action == "pop":
        if my_list:
            my_list.pop()
    elif action == "reverse":
        my_list.reverse()

Enter the number of commands: 2
2
4

In [13]:
list1 = []
n = int(input("Enter a Number"))                                       
for var in range(n):
    command = input().split()
    action = command[0]
    if action == 'insert':
        index = int(command[1])
        value = int(command[2])
        list1.insert(index,value)

Enter a Number3
4
r
r

In [14]:
list2 = []
n = int(input("Please Enter the Number"))
for n in range(n):
    command = input().split()
    action = command[0]
    if action == 'insert':
        index = int(command[1])
        value = int(command[2])
        list2.insert(index,command)
    elif action == 'print':
        print(list2)
    elif action == 'remove':
        value = int(command[1])
        list2.remove(value)

Please Enter the Number3
2

IndexError: list index out of range

In [15]:
list2 = []
n = int(input("Please Enter the Number of Commands:"))  # Number of commands to read

for _ in range(n):  # Loop to execute each command
    command = input().split()  # Read and split the command input
    action = command[0]  # Get the action from the command
    
    if action == 'insert':
        index = int(command[1])  # Get the index from the command
        value = int(command[2])  # Get the value from the command
        list2.insert(index, value)  # Insert value at the specified index
    elif action == 'print':
        print(list2)  # Print the current state of the list
    elif action == 'remove':
        value = int(command[1])  # Get the value to remove from the command
        list2.remove(value)  # Remove the first occurrence of the value from the list

Please Enter the Number of Commands:3
2
23
23

In [19]:
my_int = ['Kashif','Hasnain','Faizan']
invitation = ' Sir i Invited You Dinner'
for guest in my_int:
    print(f"Hello {guest},\n{invitation}\n")

Hello Kashif,
 Sir i Invited You Dinner

Hello Hasnain,
 Sir i Invited You Dinner

Hello Faizan,
 Sir i Invited You Dinner

In [22]:
my_list = ["Sharjeel",'Mubashir','Raqib']
invite = "Are You invited In Ceremony"
for guest in my_list:
    print(f' Hello{guest},\n{invite}\n')

 HelloSharjeel,
Are You invited In Ceremony

 HelloMubashir,
Are You invited In Ceremony

 HelloRaqib,
Are You invited In Ceremony

In [23]:
list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1]) 
secondmax = min(list1[0], list1[1]) 
n = len(list1)
for i in range(2,n): 
    if list1[i] > mx: 
        secondmax = mx
        mx = list1[i] 
    elif list1[i] > secondmax and \
        mx != list1[i]: 
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

In [ ]:
my_list = [4,3,2,5,2]
mx = max(my_list[0],my_list[1])
secondmax = min(my_list[0],my_list[1])
n = len(my_list)
for i in range(2,n):
    if my_list[i] > mx:
        secondmx = mx
        mx =

In [3]:
var = [3,4,3,2,4]
print(var[0:2])

[3, 4]

In [1]:
world_cup_winners = ('Argentina','france','germany')
world_cup_winners[1]

'france'

In [3]:
world_cup = ('Sharjeel','Ahmed','Khan')
world_cup[2]

'Khan'

In [4]:
patient1 = {
    'id' : 1122,
    'name' : 'zubair',
    'age': 31,
    'gender' : 'male'
}
patient1

{'id': 1122, 'name': 'zubair', 'age': 31, 'gender': 'male'}

In [6]:
num = {
    'id' : '1245',
    'name' : 'sharjeel',
    'age' : 42,
    'gender' : 'male'
}
num

{'id': '1245', 'name': 'sharjeel', 'age': 42, 'gender': 'male'}

In [8]:
num['name']

'sharjeel'

In [1]:
for i in range(10):
    print(str(i) + ''': I'm Happy''')

0: I'm Happy
1: I'm Happy
2: I'm Happy
3: I'm Happy
4: I'm Happy
5: I'm Happy
6: I'm Happy
7: I'm Happy
8: I'm Happy
9: I'm Happy

In [4]:
for i in range(5):
    print(str(i) +  ":I am good")

0:I am good
1:I am good
2:I am good
3:I am good
4:I am good

In [2]:
cities = ['karachi','hyderabad', 'islamabad', 'quetta','lahore']

for city in cities:
    print(city)

karachi
hyderabad
islamabad
quetta
lahore

In [3]:
for ind, city in enumerate(cities):
    print(str(ind) + " : " + city)

0 : karachi
1 : hyderabad
2 : islamabad
3 : quetta
4 : lahore

In [5]:
country = ['Pakistan','America','India','Bangladesh','Dubai','Saudia']
for cnt in country:
    print(cnt)

Pakistan
America
India
Bangladesh
Dubai
Saudia

In [6]:
for ind,cnt in enumerate(country):
    print(str(ind) + ":"+ cnt )

0:Pakistan
1:America
2:India
3:Bangladesh
4:Dubai
5:Saudia

In [2]:
def user_greeting():
    print("Hello Sir")
user_greeting()

Hello Sir

In [4]:
def user_name():
    return("Hey Marry How are you Buddy!")
user_name()

'Hey Marry How are you Buddy!'

In [5]:
def user_all(name,id):
    return(f"My name is {name} and My id is {id}")
user_all("Sharjeel","BAI-22S-035")

'My name is Sharjeel and My id is BAI-22S-035'

In [7]:
def full_name(first_name,last_name):
    f_name = first_name+  " " +last_name
    print(f_name)
full_name("Sharjeel","Khan")

Sharjeel Khan

In [8]:
def full_name(first_name,last_name):
    f_name = first_name+ " "+last_name
    print(f_name)
full_name("Sharjeel","Khan")

Sharjeel Khan

In [10]:
def name(first_name,last_name):
    f_name = first_name+ " "+last_name
    print(f_name)
name("ABC","DEF")

ABC DEF

In [11]:
def add(num1,num2):
    total = num1 + num2
    print(total)
def student(name,id):
    print(f'''My name is {name}''')
    add(11,2)
    print(name)
    return name
name1 = student('Zubair',12004)
print(name1)

My name is Zubair
13
Zubair
Zubair

In [12]:
return("abc")

SyntaxError: 'return' outside function (3736425106.py, line 1)

In [13]:
print('abc')

abc

In [16]:
def add(num1,num2):
    total = num1 + num2
    #print(total)
    return total
def student(name,id):
    print(f'''My name is {name}''')
    add(11,2)
    return name
name1 = student('zubair',12400)

My name is zubair
13

In [18]:
def add(num1,num2):
    total = num1 + num2
    print(total)
    #return total
def student(name,id):
    print(f'''My Name is {name}''')
    add(12,3)
    return name
name1 = student('Sharjeel',13000)

My Name is Sharjeel
15

In [2]:
def find_max(numbers):
    # Assuming the list is not empty, initialize max_value with the first element
    max_value = numbers[0]

    # Loop through the list to find the maximum value
    for num in numbers:
        if num > max_value:
            max_value = num

    return max_value

# Example usage
numbers = [10, 25, 43, 7, 19,67]
max_value = find_max(numbers)
print("Maximum value:", max_value)

Maximum value: 67

In [3]:
def find_max(numbers):
    max_value = numbers[0]
    for num in numbers:
        if num > max_value:
            max_value = num
            
    return max_value
numbers = [10,20,35,23,64,33]
max_value = find_max(numbers)
print("Maximum Value:",max_value)

Maximum Value: 64

In [4]:
def find_max(numbers):
    max_value = numbers[0]
    for num in numbers:
        if num>max_value:
            max_value = num
    return max_value
number = [2,3,6,4]
print("Maximun Number is",max_value)

Maximun Number is 64

In [6]:
def find_second_max(numbers):
    # Unique elements ko set mein convert karke list banate hain
    unique_numbers = list(set(numbers))

    # Agar elements 2 ya us se zyada hain tabhi second max find ho sakti hai
    if len(unique_numbers) < 2:
        return None  # Second maximum value exist nahi karti
    else:
        # List ko sort karen descending order mein aur second element return karen
        unique_numbers.sort(reverse=True)
        return unique_numbers[1]

# Example usage
numbers = [10, 25, 43, 7, 19, 43, 25]
second_max = find_second_max(numbers)
print("Second Maximum value:", second_max)

Second Maximum value: 25

In [7]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is:",a[n-2])

Enter number of elements:3
Enter element:2
Enter element:3
Enter element:3
Second largest element is: 3

In [8]:
def find_second_max(numbers):
    # Pehle list se maximum value find karen
    first_max = max(numbers)
    
    # List se sabhi occurrences of maximum value remove karen
    numbers = [num for num in numbers if num != first_max]
    
    # Phir se maximum value find karen (yeh second maximum hogi)
    second_max = max(numbers)
    
    return second_max

# Example usage
numbers = [10, 25, 43, 7, 19, 43, 25]
second_max = find_second_max(numbers)
print("Second Maximum value:", second_max)

Second Maximum value: 25

In [9]:
# global scope
father = 'Shafiq' # global variable

def student(name, id):
    # local scope
    semester = '2nd'  # local variable
    print(f'''My name is {name} and my father name is {father}.
    I'm in {semester} semester''')

student('zubair', 12004)

My name is zubair and my father name is Shafiq.
    I'm in 2nd semester

In [11]:
father = 'Amir'
def student(name,id):
    semester = '2nd'
    print(f''' My name is {name} and My father name is {father}
    I,m in {semester} semester''')
student('abdul',1234)

 My name is abdul and My father name is Amir
    I,m in 2nd semester

In [17]:
Last_name = "Khan"
def Student(name,id):
    semester = '3rd'
    print(f'''My First name is {name} and My last name is {name}
    I am student of {semester} semester student ''')
student('Sharjeel',543)

 My name is Sharjeel and My father name is Amir
    I,m in 2nd semester

In [1]:
def calculate_sum_and_average(numbers):
    # Sum calculate karna
    total_sum = 0
    for num in numbers:
        total_sum += num

    # Average calculate karna
    if len(numbers) > 0:
        average = total_sum / len(numbers)
    else:
        average = 0

    return total_sum, average

# Function ko test karne ke liye array provide karo
numbers = [2, 4, 6, 8, 10]
sum_value, avg_value = calculate_sum_and_average(numbers)

print(f"Sum: {sum_value}, Average: {avg_value}")

Sum: 30, Average: 6.0

In [1]:
def calculate_sum_array(numbers):
    total_sum = 0
    for num is numbers:
        total_sum += num
        
        if len(numbers) > 0:
            average = total_sum / len(numbers)
        else:
            average = 0
        return total_sum,average
    
numbers = [2,4,6,8,10]
sum_value,avg_value = calculate_sum_and_average(numbers)

print(f"Sum: {sum_value}, Average:{avg_value}")

SyntaxError: invalid syntax (666912788.py, line 3)

In [3]:
def  abc():
    print("Hello! My Name is Sharjeel")
abc()

Hello! My Name is Sharjeel

In [4]:
def greeting(name):
    print('Greeting')
    print(name)
greeting('Sharjeel')

Greeting
Sharjeel

In [5]:
def user_greeting(user_name):
    print("Greeting" + " " + user_name)

user_greeting('noman')
user_greeting('Shakir')
user_greeting('Ali')
user_greeting('Hassan')

Greeting noman
Greeting Shakir
Greeting Ali
Greeting Hassan

In [7]:
def user_greeting(user_name):
    print("Greeting" + " " + user_name)
user_greeting('Sharjeel')
user_greeting('Mubashir')
user_greeting('Raqib')

Greeting Sharjeel
Greeting Mubashir
Greeting Raqib

In [12]:
def user_greeting(user_names):
    for name in user_names:
        print(f"Hello {name}, How are you!")

# Example usage:
user_names = ["Sharjeel", "Mubashir", "Raqib"]
user_greeting(user_names)

Hello Sharjeel, How are you!
Hello Mubashir, How are you!
Hello Raqib, How are you!

In [14]:
def greeting(user_name):
    print(f"Hello" + " " + user_name)
greeting('Sharjeel')
greeting('Sharjeel')

Hello Sharjeel
Hello Sharjeel

In [15]:
def full_name(last_name, first_name):
    f_name = first_name + " " + last_name
    print(f_name)

full_name(first_name = "Nouroz", last_name = "Khan")

Nouroz Khan

In [18]:
def full_name(first_name , last_name):
    f_name = first_name + " " + last_name
    print(f_name)
full_name(first_name = 'Sharjeel',last_name = 'Khan')

Sharjeel Khan

Key_word Argument

In [20]:
def full_name(first_name,last_name):
    f_name = first_name + " " + last_name
    print(f_name)
full_name(first_name = 'Sharjeel Ahmed',last_name = 'Khan')

Sharjeel Ahmed Khan

In [2]:
# Initial list to act as the database
data = []

# Function to create a new entry
def create_entry(entry):
    data.append(entry)
    print(f"{entry} added successfully!")

# Function to read all entries
def read_entries():
    if len(data) == 0:
        print("No entries found!")
    else:
        print("Current Entries:")
        for i, entry in enumerate(data):
            print(f"{i+1}. {entry}")

# Function to update an existing entry
def update_entry(index, new_entry):
    if 0 <= index < len(data):
        old_entry = data[index]
        data[index] = new_entry
        print(f"Entry '{old_entry}' updated to '{new_entry}'")
    else:
        print("Invalid index! Please try again.")

# Function to delete an entry
def delete_entry(index):
    if 0 <= index < len(data):
        deleted_entry = data.pop(index)
        print(f"Entry '{deleted_entry}' deleted successfully!")
    else:
        print("Invalid index! Please try again.")

# Main program
def main():
    while True:
        print("\n--- CRUD Application Menu ---")
        print("1. Create Entry")
        print("2. Read Entries")
        print("3. Update Entry")
        print("4. Delete Entry")
        print("5. Exit")
        choice = input("Enter your choice (1-5): ")
        
        if choice == '1':
            entry = input("Enter the new entry: ")
            create_entry(entry)
        
        elif choice == '2':
            read_entries()
        
        elif choice == '3':
            index = int(input("Enter the entry number to update: ")) - 1
            new_entry = input("Enter the new value: ")
            update_entry(index, new_entry)
        
        elif choice == '4':
            index = int(input("Enter the entry number to delete: ")) - 1
            delete_entry(index)
        
        elif choice == '5':
            print("Exiting the program. Goodbye!")
            break
        
        else:
            print("Invalid choice, please try again.")

if __name__ == "__main__":
    main()

--- CRUD Application Menu ---
1. Create Entry
2. Read Entries
3. Update Entry
4. Delete Entry
5. Exit
Enter your choice (1-5): 1
Enter the new entry: abc
abc added successfully!

--- CRUD Application Menu ---
1. Create Entry
2. Read Entries
3. Update Entry
4. Delete Entry
5. Exit

KeyboardInterrupt: Interrupted by user

date = []
def create_entry(entry):
    data.append(entry)
    print(f"{entry} add Succesfully")

def read_entry(entry):
    if len(data) == 0:
        print('No Entries Found')
    else:
        print("Current Entries:")
        for i, entry in enumerate(data):
            print(f"{i+1}. {entry}")
            
def update_entry(index,new_entry):
    if 0<= index < len(data):
        old_entry = data[index]
        data[index] = new_entry
        print(f"Entry '{old_entry}' update to '{new_entry}'")
    else:
        print('Invalid index! Please Try again')
def delete_entry(index):
    if 0<= index < len(data):
        deleted_entry = data.pop(index)
        print(f"Entry '{deleted_entry}' deleted Succesfully!")
    else:
        print('Invalid Index! Please Try Again')


def Menu():
    while True:
        print("\n -- Crud Application Menu --")
        print("1. Create Entry")
        print("2. Read Entry")
        print("3. Update Entry")
        print("4. Delete Entry")
        print("5. Exit")
        choice = input("Enter Your Choice(1-5): ")
        
        if choice == '1':
            entry = input("Enter the new Entry")
            create_entry(entry)
            
        elif choice == '2':
            read_entry(entry)
            
        elif choice == '3':
            index = int(input('Enter the Entry Number to update: ')) -1
            new_entry = input("Enter New Value: ")
            update_entry(index,new_entry)
            
        elif choice == '4':
            index = int(input('Enter the Entry Number to delete'))
            delete_entry(index)
            
        elif choice == '5':
            print('Exit the program Good Bye!')
            break
            
        else:
            print("Invalid Choice , Please Try Again,")
        
if __name__ == '__main__':
    main()

In [ ]:
# Initial list to act as the database
data = []

# Function to create a new entry
def create_entry(entry):
    data.append(entry)
    print(f"{entry} added successfully!")

# Function to read all entries
def read_entries():
    if len(data) == 0:
        print("No entries found!")
    else:
        print("Current Entries:")
        for i, entry in enumerate(data):
            print(f"{i+1}. {entry}")

# Function to update an existing entry
def update_entry(index, new_entry):
    if 0 <= index < len(data):
        old_entry = data[index]
        data[index] = new_entry
        print(f"Entry '{old_entry}' updated to '{new_entry}'")
    else:
        print("Invalid index! Please try again.")

# Function to delete an entry
def delete_entry(index):
    if 0 <= index < len(data):
        deleted_entry = data.pop(index)
        print(f"Entry '{deleted_entry}' deleted successfully!")
    else:
        print("Invalid index! Please try again.")

# Main program
def main():
    while True:
        print("\n--- CRUD Application Menu ---")
        print("1. Create Entry")
        print("2. Read Entries")
        print("3. Update Entry")
        print("4. Delete Entry")
        print("5. Exit")
        choice = input("Enter your choice (1-5): ")
        
        if choice == '1':
            entry = input("Enter the new entry: ")
            create_entry(entry)
        
        elif choice == '2':
            read_entries()
        
        elif choice == '3':
            index = int(input("Enter the entry number to update: ")) - 1
            new_entry = input("Enter the new value: ")
            update_entry(index, new_entry)
        
        elif choice == '4':
            index = int(input("Enter the entry number to delete: ")) - 1
            delete_entry(index)
        
        elif choice == '5':
            print("Exiting the program. Goodbye!")
            break
        
        else:
            print("Invalid choice, please try again.")

if __name__ == "__main__":
main()

In [ ]:
# Initial list to act as the database
data = []

# Function to create a new entry
def create_entry(entry):
    data.append(entry)
    print(f"{entry} added successfully!")

# Function to read all entries
def read_entries():
    if len(data) == 0:
        print("No entries found!")
    else:
        print("Current Entries:")
        for i, entry in enumerate(data):
            print(f"{i+1}. {entry}")

# Function to update an existing entry
def update_entry(index, new_entry):
    if 0 <= index < len(data):
        old_entry = data[index]
        data[index] = new_entry
        print(f"Entry '{old_entry}' updated to '{new_entry}'")
    else:
        print("Invalid index! Please try again.")

# Function to delete an entry
def delete_entry(index):
    if 0 <= index < len(data):
        deleted_entry = data.pop(index)
        print(f"Entry '{deleted_entry}' deleted successfully!")
    else:
        print("Invalid index! Please try again.")

# Main program
def main():
    while True:
        print("\n--- CRUD Application Menu ---")
        print("1. Create Entry")
        print("2. Read Entries")
        print("3. Update Entry")
        print("4. Delete Entry")
        print("5. Exit")
        choice = input("Enter your choice (1-5): ")
        
        if choice == '1':
            entry = input("Enter the new entry: ")
            create_entry(entry)
        
        elif choice == '2':
            read_entries()
        
        elif choice == '3':
            index = int(input("Enter the entry number to update: ")) - 1
            new_entry = input("Enter the new value: ")
            update_entry(index, new_entry)
        
        elif choice == '4':
            index = int(input("Enter the entry number to delete: ")) - 1
            delete_entry(index)
        
        elif choice == '5':
            print("Exiting the program. Goodbye!")
            break
        
        else:
            print("Invalid choice, please try again.")

if __name__ == "__main__":
    main()

--- CRUD Application Menu ---
1. Create Entry
2. Read Entries
3. Update Entry
4. Delete Entry
5. Exit
Enter your choice (1-5): 3
Enter the entry number to update: 3
Enter the new value: 3
Invalid index! Please try again.

--- CRUD Application Menu ---
1. Create Entry
2. Read Entries
3. Update Entry
4. Delete Entry
5. Exit

In [ ]:

data = {}

def create_entry(key, value):
    data[key] = value
    print(f"'{key}' entry added successfully!")

# Function to read/view entry
def read_entry(key):
    if key in data:
        print(f"{key}: {data[key]}")
    else:
        print(f"No entry found for key '{key}'.")


def update_entry(key, new_value):
    if key in data:
        data[key] = new_value
        print(f"Entry '{key}' updated successfully!")
    else:
        print(f"No entry found for key '{key}'.")


def delete_entry(key):
    if key in data:
        del data[key]
        print(f"Entry '{key}' deleted successfully!")
    else:
        print(f"No entry found for key '{key}'.")

# Main program
def main():
    while True:
        print("\n--- Simple CRUD Menu ---")
        print("1. Create Entry")
        print("2. Read Entry")
        print("3. Update Entry")
        print("4. Delete Entry")
        print("5. Exit")
        
        choice = input("Choose an option (1-5): ")
        
        if choice == '1':
            key = input("Enter key: ")
            value = input("Enter value: ")
            create_entry(key, value)
        
        elif choice == '2':
            key = input("Enter key to read: ")
            read_entry(key)
        
        elif choice == '3':
            key = input("Enter key to update: ")
            new_value = input("Enter new value: ")
            update_entry(key, new_value)
        
        elif choice == '4':
            key = input("Enter key to delete: ")
            delete_entry(key)
        
        elif choice == '5':
            print("Goodbye!")
            break
        
        else:
            print("Invalid choice! Please choose again.")

if __name__ == "__main__":
    main()

--- Simple CRUD Menu ---
1. Create Entry
2. Read Entry
3. Update Entry
4. Delete Entry
5. Exit
Choose an option (1-5): 3
Enter key to update: 3
Enter new value: 4
No entry found for key '3'.

--- Simple CRUD Menu ---
1. Create Entry
2. Read Entry
3. Update Entry
4. Delete Entry
5. Exit
Choose an option (1-5): 1
Enter key: 2
Enter value: 3
'2' entry added successfully!

--- Simple CRUD Menu ---
1. Create Entry
2. Read Entry
3. Update Entry
4. Delete Entry
5. Exit

In [ ]:
data = []

def create_entry(entry):
    data.append(entry)
    print(f"{entry} Added Succesfuly")
    
def read_entry():
    if len(entry) == 0:
        print("NO Entry Found")
    else:
        print("Current Entity")
        for i,in enumerate(data):
            print(f"{i+1}.{entry}")
            
def update_entry(index,new_entry):
    if 0<=index < len(data)
    old_entry = data[index]
    data[index] = new_entry
    print(f"Entry {old_entry}update to {new_entry}")
    else:
        print('Invalid index ! Please try again')

In [1]:
import math
import os
import sys
import time

In [2]:
import numpy as np
plist = [1,2,3,4]
narr = np.array([1,2,3,4])
print(plist)
print(narr)

[1, 2, 3, 4]
[1 2 3 4]

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("retail supermarket.csv")

In [5]:
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [6]:
df.shape

(9994, 13)

In [8]:
df.shape[0]

9994

In [9]:
df.shape[1]

13

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [11]:
class Employee:
    def __init__(self,name,Employee_id,salary):
        self.name = name
        self.Employee_id = Employee_id
        self.salary = salary

    def work(self):
        print(f'{self.name} is working')

    def get_details(self):
        print(f'name: {self.name},Employee_id: {self.Employee_id}, salary: {self.salary}')