# Type_Casting

In [1]:
print('Hello World')

Hello World

In [2]:
print("Shar")

Shar

In [3]:
print(type("Hello WOrld"))

<class 'str'>

In [4]:
a = 5
print(a)

5

In [5]:
a = '123'
print(a)
type(a)
a = int("123")
print(type(a))

123
<class 'int'>

In [6]:
var  = a
a = '123'
print(a)

123

In [7]:
type(a)

str

In [8]:
a = int("123")
print(a)

123

In [9]:
type(a)

int

In [10]:
a = '123'
print(type(a))
a = int(a)
print(a)
type(a)

<class 'str'>
123

int

In [11]:
a = '123'
print(a)

123

In [12]:
a = int(a)
print(type(a))

<class 'int'>

In [13]:
b = '1234567'
print(b)
type(b)

1234567

str

In [14]:
b = float('1234567')
type(b)

float

In [15]:
print(b)

1234567.0

# List

In [16]:
salary = ["Mubashir","Raqib","Sharjeel","Ali","Faraz"]
print(salary)

['Mubashir', 'Raqib', 'Sharjeel', 'Ali', 'Faraz']

# Indexing

In [17]:
print(salary[1])

Raqib

In [18]:
print(salary[3])

Ali

# Slicing

In [19]:
print(salary[1:2])

['Raqib']

In [20]:
print(salary[2:5])

['Sharjeel', 'Ali', 'Faraz']

In [21]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [22]:
print("Faraz Bhaii")

Faraz Bhaii

In [ ]:
class Name:
    def Input_Name(self):
        self.id = str(input("Please Enter Your Id: "))
        self.name = str(input("Please Enter Your Name: "))
        self.salary = float(input("Please Enter Your Salary"))
    def display(self):
        print('Name.id',self.id)
        print('Name.name',self.name)
        print('Name.salary',self.salary)
    def reverse_Name(self):
        reverse_name = f"{self.id} {self.name} {self.salary}"
        print('reverse_Name',self.reverse_Name)
        
x = Name()
x.Input_Name()
x.reverse_Name()
x.display()

In [ ]:
print("Hello World")

In [ ]:
Reverse_Method = "Hello MY Name is Sharjeel Ahmed Khan"[::-1]
print(Reverse_Method)

In [ ]:
var1 = input("First_Name: ")
var2 = input("Second_Name: ")
print(var1[::-1] ,var2[::-1])

In [ ]:
user_a = input("Enter Number")
user_b = input("Enter Number")
sum  = int(user_a) + int(user_b)
print(sum)

In [ ]:
var1 = input("Enter First Number: ")
var2 = input("Enter Second Number: ")
sum  = float(var1) * float(var2)
print(sum)

In [ ]:
var1 = input("Enter First Number: ")
var2 = input("Enter Second Number: ")
sum = int(var1) / int(var2)
print(sum)