# Type_Casting

In [ ]:
print('Hello World')

In [ ]:
print("Shar")

In [ ]:
print(type("Hello WOrld"))

In [ ]:
a = 5
print(a)

In [ ]:
a = '123'
print(a)
type(a)
a = int("123")
print(type(a))

In [ ]:
var  = a
a = '123'
print(a)

In [ ]:
type(a)

In [ ]:
a = int("123")
print(a)

In [ ]:
type(a)

In [ ]:
a = '123'
print(type(a))
a = int(a)
print(a)
type(a)

In [ ]:
a = '123'
print(a)

In [ ]:
a = int(a)
print(type(a))

In [ ]:
b = '1234567'
print(b)
type(b)

In [ ]:
b = float('1234567')
type(b)

In [ ]:
print(b)

# List

In [ ]:
salary = ["Mubashir","Raqib","Sharjeel","Ali","Faraz"]
print(salary)

# Indexing

In [ ]:
print(salary[1])

In [ ]:
print(salary[3])

# Slicing

In [ ]:
print(salary[1:2])

In [ ]:
print(salary[2:5])

In [ ]:
dir(list)

In [ ]:
print("Faraz Bhaii")

In [ ]:
class Name:
    def Input_Name(self):
        self.id = str(input("Please Enter Your Id: "))
        self.name = str(input("Please Enter Your Name: "))
        self.salary = float(input("Please Enter Your Salary"))
    def display(self):
        print('Name.id',self.id)
        print('Name.name',self.name)
        print('Name.salary',self.salary)
    def reverse_Name(self):
        reverse_name = f"{self.id} {self.name} {self.salary}"
        print('reverse_Name',self.reverse_Name)
        
x = Name()
x.Input_Name()
x.reverse_Name()
x.display()

In [1]:
print("Hello World")

Hello World

In [2]:
Reverse_Method = "Hello MY Name is Sharjeel Ahmed Khan"[::-1]
print(Reverse_Method)

nahK demhA leejrahS si emaN YM olleH

In [3]:
var1 = input("First_Name: ")
var2 = input("Second_Name: ")
print(var1[::-1] ,var2[::-1])

First_Name: ABC
Second_Name: DEF
CBA FED

In [14]:
user_a = input("Enter Number")
user_b = input("Enter Number")
sum  = int(user_a) + int(user_b)
print(sum)

Enter Number2
Enter Number2
4